html , body {
	background: #212121; 
	color: #fff; 
	font-family: Helvetica;
	margin: 0; 
	padding: 0;
}

#gameCanvas {
	border:solid 1px #333;
	margin-left: auto;
	margin-right: auto;
	z-index:100;
}
#GameArea {
/*	margin-left: auto;
	margin-right: auto;*/
	width: 800px;
	height: 500px;
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;
	left:0; right:0; top:0; bottom:0;
	position: absolute;
	z-index:100;
}
#hud {
/*	margin-left: auto;
	margin-right: auto;*/
	width: 800px;
	height: 100px;
	margin: auto;
	z-index:100;
}

#playerName {
	color: #FBFBEF; 
}

.my-thumbnail {
	max-width: 80px;
	max-height: 100px;
}