extend game_layout

block profile1
  #player1.col-md-3.column
    .row.clearfix
      #profile.col-md-6.colum
      #stats.col-md-6.colum
        #name
          h4#playerName Player1
        .progress
          div(id = "hp" class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;")
        .progress
          div(id = "cd" class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%; transition: None;")
        .score
          span#playerScore Score:0

block profile2
  #player2.col-md-3.column
    .row.clearfix
      #profile.col-md-6.colum
      #stats.col-md-6.colum
        #name
          h4#playerName Player2
        .progress
          div(id = "hp" class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;")
        .progress
          div(id = "cd" class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%; transition: None;")
        .score
          span#playerScore Score:0

block profile3
  #player3.col-md-3.column
    .row.clearfix
      #profile.col-md-6.colum
      #stats.col-md-6.colum
        #name
          h4#playerName Player3
        .progress
          div(id = "hp" class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;")
        .progress
          div(id = "cd" class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%; transition: None;")
        .score
          span#playerScore Score:0

block profile4
  #player4.col-md-3.column
    .row.clearfix
      #profile.col-md-6.colum
      #stats.col-md-6.colum
        #name
          h4#playerName Player4
        .progress
          div(id = "hp" class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;")
        .progress
          div(id = "cd" class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%; transition: None;")
        .score
          span#playerScore Score:0